@font-face {
    font-family:"IBM Plex Mono";
    src: url(IBMPlexMono-Regular.ttf);
    font-weight: 400px;
}
@font-face {
    font-family:"IBM Plex Mono";
    src: url(IBMPlexMono-Bold.ttf);
    font-weight: 700px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation button {
    font-family: "IBM Plex Mono";
    font-weight: 400px;
    color: black;
    font-size: 18px;
    border: none;
    background-color: transparent;
    text-align: center;
    line-height: 18px;
    padding: 0 13;
    cursor: pointer;
}

.isAtiveButton {
    border: 1px solid rgba(53, 52, 48, 1) !important;
}